---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Below is a general overlay of my academic and professional background
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in CS + Math, Minor in ECE"
      subtitle="2023 to 2027 at Clemson University, Clemson, SC, USA"
    />
    <TimeLineElement
      title="Future"
      subtitle=""
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Clemson Machine Learning Summer Researcher"
      subtitle="From May 2024 to August 2024 at Clemson University, Clemson, USA"
    >
      Helped finish a paper by a masters student on using efficient deep learning vision models for off road perception
systems for semantic segmentation tasks. Worked with EfficientViT, U-Net, PSPNet, pytorch, EfficientViT, and jupyter notebooks. Paper was accepted to Scientific Research Publishing as a journal publication and served as a master student's thesis.
    </TimeLineElement>
    <TimeLineElement
      title="Web Developer for Clemson Pulse Quality and Nutritional Breeding Lab"
      subtitle="From August 2024 to Present at Clemson University, Clemson, USA"
    >
      Helping to layout and build the FTIR cloud pipeline to make getting nutritional results from an FTIR easier. Currently developing a web app in Django to deploy ML Plant Phenomics regression models created by a PhD student at Clemson.
    </TimeLineElement>
<div class="time-line-container mb-10">
    <TimeLineElement
      title="Clemson Machine Learning Summer Researcher"
      subtitle="From May 2025 to August 2025 at Clemson University, Clemson, USA"
    >
      Worked on exploring the effects state of the art lidar or point cloud compressors have on downstream semantic segmentation tasks in outdoor offroad setting. Dataset Used: GOOSE, Models: Sphereformer, PTV-3, Compressors: RENO, TMC13, LCP
    </TimeLineElement>
  </div>

  <!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
  -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Javascript</li>
    <li>Julia</li>
    <li>Django</li>
    <li>Swift</li>
    <li>C++</li>
    <li>Matlab</li>
    <li>Socket.io</li>
  </ul>
</BaseLayout>
